language: python
python:
  - "2.7"
  
# Cache PlatformIO packages using Travis CI container-based infrastructure
sudo: false
cache:
    directories:
        - "~/.platformio"
        - $HOME/.cache/pip

install:
    - pip install -U platformio
    - pio update

script:
  - platformio ci --project-conf=/platformio.ini
    
    
